
# Core
Django==4.2
djangorestframework==3.15.2
django-cors-headers==4.4.0
djangorestframework-simplejwt==5.3.1
gunicorn==23.0.0
whitenoise==6.7.0   # for serving static files in production

# Database
psycopg2-binary==2.9.9
sqlparse==0.5.1
pytz==2024.2
tzdata==2024.1

# Security / Auth
cryptography==42.0.8
PyJWT==2.9.0
passlib==1.7.3
pyOpenSSL==24.1.0

# Utilities
requests==2.31.0
urllib3==2.0.7
certifi==2024.8.30
charset-normalizer==3.4.0
idna==3.7  # upgraded from 2.8 (safer)

# Parsing / Serialization
beautifulsoup4==4.12.3
soupsieve==2.6
lxml==5.2.1
lxml_html_clean==0.3.1
pydot==1.4.1
pyparsing==3.2.0

# Internationalization / Translation
Babel==2.9.1
googletrans==3.0.0
polib==1.1.0
num2words==0.5.6

# File / Reports
pillow==10.2.0
reportlab==4.1.0
qrcode==6.1
XlsxWriter==1.1.2
xlwt==1.3.0
xlrd==1.2.0
PyPDF2==2.12.1
vobject==0.9.6.1

# Network / APIs
zeep==3.4.0
ebaysdk==2.1.5
ofxparse==0.21
python-stdnum==1.13
pyserial==3.4
pyusb==1.2.1

# Other helpful libs
attrs==24.2.0
decorator==4.4.2
freezegun==0.3.15
isodate==0.7.2
Jinja2==3.1.2
MarkupSafe==2.1.5
libsass==0.22.0
sniffio==1.3.1
appdirs==1.4.4
colorama==0.4.6
six==1.16.0
setuptools==75.3.0
