{% extends 'adminbase.html'%}
{%load static %}
{% block body%}
{% if user.is_staff or user.is_superuser %}
{% if messages %}

{% for message in messages %}

<div class="alert {{message.tags}}   alert-dismissible fade show" role="alert">
  {{message}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>


{% endfor %}
{% endif %}
 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>  
{% if allcustomerlist.has_other_pages %}
<div style="display: flex;justify-content: center;">
  <nav aria-label="Topics pagination" class="mb-4">
    <ul class="pagination">
      {% if allcustomerlist.has_previous %}
      <li class="page_item">
        <a class="page-link" href="?page={{allcustomerlist.previous_page_number}}">Previous</a>
      </li>
      {% else %}
      <li class="page_item_disable">
        <span class="page-link">Previous</span>
      </li>
     {% endif %}
     {% for page_num in allcustomerlist.paginator.page_range %}
     {% if allcustomerlist.number == page_num %}
     <li class="page_item_active">
      <span class="page_link">
        {{page_num}}

      </span>

     </li>
     {% else %}
     <li class="page_item">
      <a class="page-link" href="?page={{page_num}}">{{ page_num }}</a>
     </li>
     {% endif %}
     {% endfor %}
     {% if allcustomerlist.has_next %}
     <li class="page_item">
      <a  class="page-link" href="?page={{allcustomerlist.next_page_number}}">Next</a>

     </li>
     {% else %}
     <li class="page_item_disable">
      <span class="page-link">Next</span>
     </li>
     {% endif %}
    </ul>

  </nav>

</div>
{% endif %}





                <!-- Begin Page Content -->
                <div class="container-fluid">
  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Customers</h6>
    </div>
    <div class="card-body">
        <input id="myInput" type="text" placeholder="Search.." class="mb-4 form-control">
        <div class="table-responsive">

           
                
                
            <table id="myTable" class="table table-bordered"  width="100%" cellspacing="0" border="1">
                <thead>
                    <tr>
                        
                        <th>Movie Name</th>
                        <th>Customer Movie id</th>
                        <th>Seat Place</th>
                        <th>Customer id</th>
                        <th>Customer name</th>
                        <th>Total cost</th>
                        
                        <th>Money status completed?:</th>
                      
                        <th colspan="2">Action</th>
                        
                    </tr>
                </thead>
               
                <tbody>
                    {% for cl in allcustomerlist %}
                    <tr>
                        
                        <td>{{ cl.moviename }}</a></td>
                        <td>
                            
                            {{ cl.customermovie_id }}
                            
                        </td>
                        <td>{{cl.seatplace}}</td>
                        <td>
                            <a href="{% url 'customerdetail' cl.customer_id_id %}" class="text-primary"> {{ cl.customer_id_id  }}</a>
                        </td>
                        <td>{{ cl.customer_name}}</td>
                        
                        <td>{{ cl.total_cost}}</td>
                       
                       
                        <td>
                            {% if cl.moneystatus_completed == 1 %}
                            <p style="color: green;">Paid!</p>
                            {% elif cl.moneystatus_completed == 0 %}
                              <p style="color:red;">Not paid!</p>
                              {% endif %}

                        </td>
                          
                        <td>
                                          
                            <button class="btn btn-success"><a href="{% url 'customerlist_update' cl.customer_id_id %}" class="text-white">update</a></button></td>
                            
                           <td> <button class="btn btn-danger"><a href="{% url 'delete_customerlist' cl.customer_id_id%}" onclick="return confirm('Are you sure?');" class="text-white">delete</a></button>
   
                          </td>
                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        
    </div>
</div>
</div>
</div>


<script>
    $(document).ready(function(){
      $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#myTable tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
    </script>
    
    {% endif %}   
{% endblock %}