{% extends 'base.html'%}
{%load static %}
{% load humanize %}
{% block body%}

{% if messages %}

{% for message in messages %}

<div class="alert {{message.tags}}   alert-dismissible fade show" role="alert">
  {{message}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>


{% endfor %}
{% endif %}
<center>
<p style="color: rgb(255, 0, 0);">Your tickets are here!please pay with one of the payment methods to gain real ticket tickets within 24 hrs.After 24 hrs,if you don't pay ticket price,yours booking seats are auto deleted again.Thank you!</p>



<button class="btn btn-primary"><i class="fa fa-home"></i> Apay 0912345678</button>
<button class="btn btn-primary"><i class="fa fa-bars"></i> Bank transfer 01234567</button>
<p style="color: rgb(248, 2, 2);">After Apay and bank transfer plz sent your booked tickets and screenshot of Apay and bank transfer to viber below.</p>
<button class="btn btn-primary"><i class="fa fa-trash"></i>Cash Plz go to counter 1</button>
<button class="btn btn-primary"><i class="fa fa-close"></i> Viber no 1111111</button>

</center>
     {% for y in customer1 %} 
     <div class="containert">
      <div class="cardt cardt-left">
          <h4>AI <span>Cinema</span></h4>
          <div class="title">
            <h3> Ticket status:
              {% if y.moneystatus_completed == 1 %}
                <span style="color: rgb(0, 255, 13);">Completed!</span>
                {% elif y.moneystatus_completed == 0 %}
                  <span style="color:rgb(228, 27, 161);">Not Completed!</span>
                  {% endif %}
               </h3>
              <h2>{{y.moviename}}</h2>
              <span>Movie name</span>
          </div>
          <div class="namet">
              <h2>{{y.customer_name}} {{y.phone}}</h2>
              <span>Name phone</span>
          </div>
          
          <div class="seatt">
              <h2>{{y.seatplace}}</h2>
              <span>seat</span>

          </div>
          <div class="timet">
              <h2>{{moviedate}}</h2>
              <span>time</span>
          </div>

      </div>

      <div class="cardt cardt-right">
          <div class="eye">
              
          </div>
          <br>
          <div class="number">
              <h2>{{y.total_cost|intcomma}} mmk</h2>
              <span>seat cost</span>

          </div>
          <div class="barcode">
            <p>{{y.customer_id_id}}</p> 
          </div>

      </div>

  </div>
  






    
    
    
    
    
    
    
    
    
      {% endfor %}
      
     
      

{% endblock %}